.supercomputadorgeral {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000006b;
  z-index: 1;
}

/* Porcentagem e logotipo */

.porcentagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #b7b7b7;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.topogeral {
  z-index: 1;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141414;
}

.logodindin {
  width: 90%;
  display: flex;
  align-items: center;
  height: 10%;
  justify-content: space-between;
}

.datatipo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.dindin {
  color: #008d3d;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 5px;
  user-select: none;
  font-size: 2vw;
  height: 100%;
}


.result {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
  background-color: #1d1d1d;
}

/* Contagem dos votos topo */

.estatisticas {
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultado {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 90%;
}

.candidatoum,
.candidatodois {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49%;
  height: 100%;
}

.candidatoumum,
.candidatodoisdois {
  font-weight: bold;
  background-image: linear-gradient(rgba(0, 0, 0, 0.271), rgba(0, 0, 0, 0));
  box-shadow: inset 3px 3px 3px #00000074;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vw;
  border-radius: 10px;
  position: relative;
  background-color: #282828;
  color: #3498db;
}

.candnumnomes {
  position: absolute;
  font-size: 1.5vw;
  top: 3%;
  left: 3%;
  color: #b7b7b7;
}

.porcentagemtopo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 50%;
  position: relative;
}

.porcent1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  width: 30%;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.274);
  border: solid rgb(38, 38, 38) 1px;
}

.candidatovenc {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  width: 30%;
  border-radius: 10px;
  animation: anivence 2s infinite alternate;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.274);
  border: solid rgb(38, 38, 38) 1px;
}

.candidatovenc img {
  width: 10vw;
  margin: 0.2vw;
  margin-right: 2vw;
}

@keyframes anivence {
  to {
  }

  from {
    background-color: rgb(2, 105, 70);
  }
}

.porc1 {
  display: flex;
  align-items: center;
  width: 90%;
}

.porcent1 img {
  width: 10vw;
  margin: 0.2vw;
  margin-right: 2vw;
}

.imgpol {
  transition: 1000ms;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.274);
  border-radius: 5px;
}

.totalvotosvalidos {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.totalvv1 {
  width: 100%;
  height: 19%;
  display: flex;
  justify-content: space-between;
  padding: 0.5vw;
}

.totalvv2 {
  width: 70%;
  display: flex;
  align-items: center;
}

.totalvotos {
  color: #b7b7b7;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.271), rgba(0, 0, 0, 0));
  box-shadow: inset 1px 1px 1px #00000074;
  background-color: #282828;
  border-radius: 5px;
}

.barrastatus {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.imagemfinal img {
  position: absolute;
  bottom: -500px;
  left: 300px;
  width: 3000px;
  z-index: 1;
  animation: imagefinal 500ms reverse;
  animation-fill-mode: both;
}

@keyframes imagefinal {
  to {
  }

  from {
    width: 300px;
  }
}

.rodape {
  width: 100%;
  height: 10vh;
  background-color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="button"] {
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

