.menuContainer {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
  }
  
  .menuButton {
    color: #a9a9a9;
    padding: 10px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed;
    right: 0;
  }
  
  
  .menuItems {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideDown 0.3s ease; 
    background-color: #14121A;
    border-radius: 15px;
  }
  
  .btns {
    background-color: #282434;
    color: #ffffff;
    padding: 10px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .btns:hover {
    background-color: #322d41;
    color: #14121A;
  }

  .btns:nth-child(7){
    background-color: rgb(179, 80, 0);
  }

  .btns:nth-child(7):hover{
    background-color: rgb(216, 97, 0);
  }
  
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  