.telageral{
    width: 100%;
    height: 100%;
    user-select: none;
}

.tela1{
    display: flex;
    width: 100%;
    height: 28.5vw;
}

.telageral2 p{
    color: black;
}

.tela2{
    display: flex;
    width: 100%;
    height: 28.5vw;
    border-bottom: 2px solid #000000;
}

.tela1esq{
    width: 38vw;
    padding-left: .5vw;
}

.frasetopo p{
    font-size: 2vw;
    text-transform: uppercase;
    margin-top: .5vw;
}

/* Ativação e desativação de todas as telas */

.ativo{
    color: #ffffff00;
    border: none;
}

/* Tela da esquerda dentro da tela */

.tela1esq p{
    font-size: 1.3vw;
    margin-bottom: 3.5vw;
}

.cargo{
    margin-top: 4vw;
    margin-left: 14vw;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 1vw;
}

.cargo h1{
    font-weight: normal;
    font-size: 2vw;
    color: #000;
}

.inputs{
    display: flex;
    font-size: 1.3vw;
    margin-bottom: 1vw;
}

.inputs div{
    display: flex;
    align-items: center;
}

.numerocandidato{
    margin-left: 6vw;
    font-size: 1.3vw;
}

.numeropalavra p{
    margin: 0;
}

.numero1, .numero2{
    width: 2.5vw;
    height: 3.5vw;
    border: 1px solid #000;
    margin-left: .5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #000;
}

.votoembranco2{
    color: #000;
    display: flex;
    justify-content: center;
    padding-left: 10vw;
    padding-top: 6vw;
    margin-bottom: 1.3vw;
}

.votoembranco2 p{
    font-size: 3vw;
    text-transform: uppercase;
}

.votoembranco3{
    color: #000;
    display: flex;
    justify-content: center;
    padding-left: 10vw;
    padding-top: 6vw;
    margin-bottom: 1.3vw;
}

.votoembranco3 p{
    font-size: 3vw;
    text-transform: uppercase;
}

.fotops img{
    width: 150px;
    margin-top: 7px;
}

.fotopresidente, .fotovicepresidente{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fotovicepresidente img{
    width: 120px;
}