.corpo{
    background-image: url('../assets/img/fundo.png');
    background-size: cover;
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 17vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Contagem dos votos topo ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.resultado{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.resultado p{
    font-size: 1.3vw;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}

.vbrancos2{
    color: #000000;
    background-color: rgb(255, 255, 255);
    padding: 1vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.271), rgba(0, 0, 0, 0));
    box-shadow: inset 3px 3px 3px #00000074;
}

.vnulos2{
    color: #ffffff;
    background-color: #2e2e2e;
    padding: 1vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.638), rgba(0, 0, 0, 0));
    box-shadow: inset 3px 3px 3px #00000074;
}

.candidatoumum{
    color: #ffffff;
    background-color: #00c44f;
    padding: 1vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.803), rgba(0, 0, 0, 0));
    box-shadow: inset 3px 3px 3px #00000074;
}

.candidatodoisdois{
    color: #ffffff;
    background-color: #ff4a4a;
    padding: 1vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.638), rgba(0, 0, 0, 0));
    box-shadow: inset 3px 3px 3px #00000074;
}

.totalvotos{
    color: #ffffff;
    background-color: rgb(121, 121, 121);
    padding: 1vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.638), rgba(0, 0, 0, 0));
    box-shadow: inset 3px 3px 3px #00000074;
}

.tela1{
    display: flex;
    height: 28.5vw;
    position: relative;
}

.tela1esq{
    width: 38vw;
    padding-left: .5vw;
}

.frasetopo p{
    font-size: 2vw;
    text-transform: uppercase;
    margin-top: .5vw;
}

/* Header ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.header{
    display: flex;
    align-items: end;
    flex-direction: column;   
    width: 70%; 
}

.result{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.barra1{
    background-color: #ffffff;
    width: 100%;
    box-shadow: inset 3px 3px 3px #00000074;
    transition: 100ms;
}

.barra2{
    display: flex;
    width: 30px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1vw;
    color: #060606;
    padding-right: .5vw;
    box-shadow: inset 3px 3px 3px #00000074;
}

.bonequinho img{
    height: 1vw;
    margin-right: .5vw;
}

.btnsplay{
    display: flex;
    align-items: center;
}

.dindin{
    width: 160px;
    background-color: #077c35;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 30px;
    cursor: pointer;
    color: #ffffff;
    border-radius: 5px;
    user-select: none;
}

.quantvotosbtn{
    border: none;
    width: 1vw;
    height: 1vw;
    margin-right: 2vw;
    cursor: pointer;
    font-size: 1.3vw;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantvotosbtn img{
    width: 1.5vw
}

.quantvotosbtn img:hover{
    width: 2vw;
}

.pausevotos{
    border: none;
    width: 1vw;
    height: 1vw;
    margin-right: 2vw;
    cursor: pointer;
    font-size: 1.3vw;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pausevotos img{
    width: 1.5vw;
}

.pausevotos img:hover{
    width: 2vw;
}

.resetbtn{
    border: none;
    width: 1vw;
    height: 1vw;
    cursor: pointer;
    font-size: 1.3vw;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
}

.resetbtn img{
    width: 1.5vw;
}

.resetbtn img:hover{
    width: 2vw;
}

.tela{
    background-color: #ffffff;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
    border-radius: 5px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-image: linear-gradient(rgb(255, 255, 255), rgba(5, 152, 216, 0.346)), url(../assets/img/tela.png);
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.315);
}

/* Ativação e desativação de todas as telas ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.ativo{
    color: #ffffff00;
    border: none;
}

/* Tela da esquerda dentro da tela ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.tela1esq p{
    font-size: 1.3vw;
    margin-bottom: 3.5vw;
}

.cargo{
    margin-top: 4vw;
    margin-left: 14vw;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 1vw;
}

.cargo h1{
    font-weight: normal;
    font-size: 2vw;
    color: #000;
}

.inputs{
    display: flex;
    font-size: 1.3vw;
    margin-bottom: 1vw;
}

.inputs div{
    display: flex;
    align-items: center;
}

.numerocandidato{
    margin-left: 6vw;
    font-size: 1.3vw;
}

.numeropalavra p{
    margin: 0;
}

.numero1, .numero2{
    width: 2.5vw;
    height: 3.5vw;
    border: 1px solid #000;
    margin-left: .5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #000;
}

.votoembranco2{
    color: #000;
    display: flex;
    justify-content: center;
    padding-left: 10vw;
    padding-top: 6vw;
    margin-bottom: 1.3vw;
}

.votoembranco2 p{
    font-size: 3vw;
    text-transform: uppercase;
}

.votoembranco3{
    color: #000;
    display: flex;
    justify-content: center;
    padding-left: 10vw;
    padding-top: 6vw;
    margin-bottom: 1.3vw;
}

.votoembranco3 p{
    font-size: 3vw;
    text-transform: uppercase;
}

/* Tela da direita dentro da tela ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.teladir{
    font-size: 1.3vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.votonulo{
    position: absolute;
    bottom: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30pt;
}

.fotopresidente{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotovicepresidente{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotops img{
    width: 10vw;
    margin-top: 1vw;
}

.fotoviceps img{
    width: 8vw;
}

/* Tela do rodape dentro da tela ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.telarodape{
    width: 100%;
    height: 100%;
    padding-left: .5vw;
    font-size: 1.3vw;
}

.adesivogeral{
    display: flex;
    justify-content: center;
    width: 90%;
}

.adesivo{
    background-color: #cfc79d;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 3vw;
    border-radius: 5px;
    background-image: url(../assets/img/fundobtnnome.jpg);    
    background-size: cover;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.315);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15vw;
}

.adesivo h1{
    font-size: 2vw;
    color: #154662;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.adesivo input{
    width: 50px;
}

.botoescontainer{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    width: 42vw;
}

.nome{
    font-family: Helvetica, sans-serif;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
    margin-bottom: 1vw;
    background-color: #cfc697;
    width: 90%;
    height: 9vw;
    padding: 2vw;
    border-radius: 5px;
    align-items: center;
    background-image: url(../assets/img/fundobtnnome.jpg);
    background-size: cover;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.315);
}

.logo img{

    width: 7vw;
    align-self: center;
    margin-left: 20px;
    transition: 300ms;
    animation: caveira 8s infinite alternate;
    margin-left: 3vw;
}

.nomedaurna{    
    font-size: 2.5vw;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 2vw;
}

.nomedaurna{
    text-align: center;
}

.botoes{
    background-color: #2e2b22;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.73)), url(../assets/img/fundobtn.jpg);
    background-size: cover;
    height: 32vw;
    width: 90%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.568);
}

.btn1{
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 75%;
    flex-wrap: wrap;
}

.btn1 input{
    margin: 5px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: #8ad1f4;
    width: 28%;
    border-radius: 5px;
    display: flex;
    font-size: 2vw;
    padding-left: 7px;
    border: none;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.753);
    font-weight: bold;
}

.btn1 input:hover{
    background-color: #d1d1d1;
    color: #a0a0a0;
    box-shadow: none;
    font-weight: normal;
}

.bton1{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.73)), url(../assets/img/btn/btn1.png);
    background-size: cover;
}

.bton2{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.73)), url(../assets/img/btn/btn2.png);
    background-size: cover;
}

.bton3{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.73)), url(../assets/img/btn/btn3.png);
    background-size: cover;
}

.bton4{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.73)), url(../assets/img/btn/btn4.png);
    background-size: cover;
}

.bton5{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.73)), url(../assets/img/btn/btn5.png);
    background-size: cover;
}

.bton6{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.73)), url(../assets/img/btn/btn6.png);
    background-size: cover;
}

.bton7{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.73)), url(../assets/img/btn/btn7.png);
    background-size: cover;
}

.bton8{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.73)), url(../assets/img/btn/btn8.png);
    background-size: cover;
}

.bton9{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.73)), url(../assets/img/btn/btn9.png);
    background-size: cover;
}

.bton0{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.73)), url(../assets/img/btn/btn0.png);
    background-size: cover;
}

.btn2{
    height: 35%;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10%;
    
}

.btn2 input{
    width: 30%;    
    border-radius: 5px;
    font-size: 1.4vw;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}

.btn2 input:hover{
    font-weight: normal;
}

.branco{
    background-color: #8ad1f4;
    padding-bottom: 10%;
    height: 60%;
    border: none;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.753);
    background-image: url(../assets/img/btn/btnbranco.png);
    background-size: cover;
    background-position: center;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-evenly;
}

.branco:hover{
    box-shadow: none;
    height: 59%;
}

.corrige{
    background-color: #c14018;
    padding-bottom: 10%;
    height: 60%;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.753);
    background-image: linear-gradient(#ff5d2c, #c13f1800), url(../assets/img/btn/btncorrige.png);
    background-size: cover;
    background-position: center;
    font-family: 'Oswald', sans-serif;
}

.corrige:hover{
    box-shadow: none;
    height: 59%;
}

.confirma{
    background-color: #077c35;
    padding-bottom: 14%;
    height: 75%;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.753);
    background-image: linear-gradient(#0cc55695, #077c3600), url(../assets/img/btn/btnverde.png);
    background-size: cover;
    background-position: center;
    font-family: 'Oswald', sans-serif;
}

.confirma:hover{
    box-shadow: none;
    height: 74%;
}

.telageral{
    width: 100%;
}

.telageral2 p{
    color: black;
}

.tela2{
    display: flex;
    width: 100%;
    border-bottom: 2px solid #000000;
}

.tela1esq{
    width: 38vw;
    padding-left: .5vw;
}

.frasetopo p{
    font-size: 2vw;
    text-transform: uppercase;
    margin-top: .5vw;
}

/* Ativação e desativação de todas as telas */

.ativo{
    color: #ffffff00;
    border: none;
}

/* Tela da esquerda dentro da tela */

.cargo{
    margin-top: 4vw;
    margin-left: 14vw;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 1vw;
}

.cargo h1{
    font-weight: normal;
    font-size: 2vw;
    color: #000;
}

.inputs{
    display: flex;
    font-size: 1.3vw;
    margin-bottom: 1vw;
}

.inputs div{
    display: flex;
    align-items: center;
}

.numerocandidato{
    margin-left: 6vw;
    font-size: 1.3vw;
}

.numeropalavra p{
    margin: 0;
}

.numero1, .numero2{
    width: 2.5vw;
    height: 3.5vw;
    border: 1px solid #000;
    margin-left: .5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #000;
}

.votoembranco2{
    color: #000;
    display: flex;
    justify-content: center;
    padding-left: 10vw;
    padding-top: 6vw;
    margin-bottom: 1.3vw;
}

.votoembranco2 p{
    font-size: 3vw;
    text-transform: uppercase;
}

.votoembranco3{
    color: #000;
    display: flex;
    justify-content: center;
    padding-left: 10vw;
    padding-top: 6vw;
    margin-bottom: 1.3vw;
}

.votoembranco3 p{
    font-size: 3vw;
    text-transform: uppercase;
}

.fotops img{
    width: 150px;
    margin-top: 7px;
}

.fotopresidente, .fotovicepresidente{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fotovicepresidente img{
    width: 120px;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.quantvotos{
    display: flex;
    width: 90%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.btnsplay{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
}

.quantvotosbtn{
    border: none;
    width: 1vw;
    height: 1vw;
    margin-right: 2vw;
    cursor: pointer;
    font-size: 1.3vw;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantvotosbtn img{
    width: 1.5vw
}

.quantvotosbtn img:hover{
    width: 2vw;
}

.pausevotos{
    border: none;
    width: 1vw;
    height: 1vw;
    margin-right: 2vw;
    cursor: pointer;
    font-size: 1.3vw;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pausevotos img{
    width: 1.5vw;
}

.pausevotos img:hover{
    width: 2vw;
}

.resetbtn{
    border: none;
    width: 1vw;
    height: 1vw;
    margin-right: 2vw;
    cursor: pointer;
    font-size: 1.3vw;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resetbtn img{
    width: 1.5vw;
}

.resetbtn img:hover{
    width: 2vw;
}

.comsom{
    border: none;
    width: 1vw;
    height: 1vw;
    margin-right: 2vw;
    cursor: pointer;
    font-size: 1.3vw;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comsom img{
    width: 1.5vw;
}

.comsom img:hover{
    width: 2vw;
}

.controles{
    display: flex;

}

.escolherporcentagem{
    height: 25px;
    border: none;
    width: 60px;
    text-align: center;
    margin-right: 3px;
    margin-left: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.185);
}

.escolherporcentagem2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    border: none;
    width: 60px;
    text-align: center;
    margin-right: 3px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.185);
    font-size: 10pt;
    margin-left: 10px;
}

.escolherlimite{
    height: 25px;
    border: none;
    padding: 5px;
    width: 80px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.185);
}

.totalreal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 10px;
    padding-top: 50px;
    height: 100%;
}

.vbrancosreal{
    width: 100px;
    color: #ffffff;
    text-align: center;
    background-color: #ffffff;
    height: 35px;
    padding: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.349);
    font-weight: bold;
}

.vnulosreal{
    width: 100px;
    color: #ffffff;
    text-align: center;
    background-color: #2c2c2c;
    height: 35px;
    padding: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.603);
    font-weight: bold;
}

.cand1{
    width: 100px;
    color: #ffffff;
    text-align: center;
    background-color: #007e32;
    height: 35px;
    padding: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.603);
    font-weight: bold;
}

.cand2{
    width: 100px;
    color: #ffffff;
    text-align: center;
    background-color: #fd2525;;
    height: 35px;
    padding: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.603);
    font-weight: bold;
}

.totalcandtela{
    width: 100px;
    color: #ffffff;
    text-align: center;
    background-color: rgb(90, 90, 90);
    height: 35px;
    padding: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.603);
    font-weight: bold;
}

.totalporcenttela1{
    width: 100px;
    color: #000000;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 35px;
    padding: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.342);
    font-weight: bold;
}

.totalporcenttela2{
    width: 100px;
    color: #000000;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 35px;
    padding: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.397);
    font-weight: bold;
}